<!DOCTYPE html>
<html>
  <body>

    <h1>Cookie Clicker!</h1>

    <button id="Baker" onclick="myFunction()">Bake</button>

    <button id="addAdd" onclick="myFunction2()">Increase cookies per click</button>

    <p id="numberOfCookies"></p>

    <p id="cookiesYouNeed"></p>

    <p id="howManyYouGet"></p>

    <script>
var cookies = 1;
var cookiesPerClick = 1;
var cost = 2;
var add = 1

document.getElementById("Baker").style.background='#ffa500';

function myFunction() {
  cookies = cookies + cookiesPerClick;
  document.getElementById("numberOfCookies").innerHTML = "You have " + cookies + " cookies!";
  document.getElementById("cookiesYouNeed").innerHTML = "You need " + cost + " cookies untill you can upgrade cookies per click!";
  document.getElementById("howManyYouGet").innerHTML = "You get " + cookiesPerClick + " cookies per click!"
    if (cookies >= cost){
      document.getElementById("addAdd").style.background='#00ff00';
    }
    else{
      document.getElementById("addAdd").style.background='#ff0000';
    }
}
function myFunction2() {
  if (cookies >= cost) {
    cookiesPerClick = cookiesPerClick + add;
    cookies = cookies - cost;
    cost = cost * 2;
    add = (cost/8)
    document.getElementById("cookiesYouNeed").innerHTML = "You need " + cost + " cookies untill you can upgrade cookies per click!";
    document.getElementById("numberOfCookies").innerHTML = "You have " + cookies + " cookies!";
    document.getElementById("howManyYouGet").innerHTML = "You get " + cookiesPerClick + " cookies per click!"

      if (cookies >= cost){
        document.getElementById("addAdd").style.background='#00ff00';
      }
      else{
        document.getElementById("addAdd").style.background='#ff0000';
      }


  }
}
    </script>

  </body>
</html>
