<!DOCTYPE html>
<html>
<body>

<h1>Cookie Clicker!</h1>

<button onclick="myFunction()">Bake</button>

<button onclick="myFunction2()">Increase cookies per click</button>

<p id="demo"></p>

<p id="demo2"></p>

<script>
var cookies = 1;
var cookiesPerClick = 1;
var cost = 2;
function myFunction() {
	document.getElementById("demo").innerHTML = "You have " + cookies + " cookies!";
	document.getElementById("demo2").innerHTML = "You need " + cost + " cookies untill you can upgrade cookies per click!";
	cookies = cookies + cookiesPerClick;
}
function myFunction2() {
	if (cookies >= cost) {
		cookiesPerClick = cookiesPerClick + 1;
		cost = cost * 2;
		cookies = cookies - cost;
		document.getElementById("demo2").innerHTML = "You need " + cost + " cookies untill you can upgrade cookies per click!";
		document.getElementById("demo").innerHTML = "You have " + cookies + " cookies!";
	}
}
</script>

</body>
</html>
